HMV.PEP.ViewModel/Service References/ServicePassagemPlantao/PassagemPlantaoEmergencia.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PassagemPlantaoEmergencia" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://hoh2803:8166/PassagemPlantaoEmergencia.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://hoh2803:8166/PassagemPlantaoEmergencia.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPassagemPlantaoEmergencia_AdicionarMensagem_InputMessage">
    <wsdl:part name="parameters" element="tns:AdicionarMensagem" />
  </wsdl:message>
  <wsdl:message name="IPassagemPlantaoEmergencia_AdicionarMensagem_OutputMessage">
    <wsdl:part name="parameters" element="tns:AdicionarMensagemResponse" />
  </wsdl:message>
  <wsdl:message name="IPassagemPlantaoEmergencia_AtualizaPassagem_InputMessage">
    <wsdl:part name="parameters" element="tns:AtualizaPassagem" />
  </wsdl:message>
  <wsdl:message name="IPassagemPlantaoEmergencia_AtualizaPassagem_OutputMessage">
    <wsdl:part name="parameters" element="tns:AtualizaPassagemResponse" />
  </wsdl:message>
  <wsdl:portType name="IPassagemPlantaoEmergencia">
    <wsdl:operation name="AdicionarMensagem">
      <wsdl:input wsaw:Action="http://tempuri.org/IPassagemPlantaoEmergencia/AdicionarMensagem" message="tns:IPassagemPlantaoEmergencia_AdicionarMensagem_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPassagemPlantaoEmergencia/AdicionarMensagemResponse" message="tns:IPassagemPlantaoEmergencia_AdicionarMensagem_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AtualizaPassagem">
      <wsdl:input wsaw:Action="http://tempuri.org/IPassagemPlantaoEmergencia/AtualizaPassagem" message="tns:IPassagemPlantaoEmergencia_AtualizaPassagem_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPassagemPlantaoEmergencia/AtualizaPassagemResponse" message="tns:IPassagemPlantaoEmergencia_AtualizaPassagem_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IPassagemPlantaoEmergencia" type="tns:IPassagemPlantaoEmergencia">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AdicionarMensagem">
      <soap:operation soapAction="http://tempuri.org/IPassagemPlantaoEmergencia/AdicionarMensagem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AtualizaPassagem">
      <soap:operation soapAction="http://tempuri.org/IPassagemPlantaoEmergencia/AtualizaPassagem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PassagemPlantaoEmergencia">
    <wsdl:port name="BasicHttpBinding_IPassagemPlantaoEmergencia" binding="tns:BasicHttpBinding_IPassagemPlantaoEmergencia">
      <soap:address location="http://hoh2803:8166/PassagemPlantaoEmergencia.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>