HMV.PEP.ViewModel/Service References/ServicePassagemPlantao/PassagemPlantaoEmergencia.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="AdicionarMensagem">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mensagem" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nome" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AdicionarMensagemResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AtualizaPassagem">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pAtendimento" type="xs:int" />
        <xs:element minOccurs="0" name="pPlano" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pListaProblemas" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pEnfermagem" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pIdLocalPaciente" type="xs:int" />
        <xs:element minOccurs="0" name="pUsuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pAtualizaLista" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AtualizaPassagemResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>